  dark-mode {
    background-color: #222; 
    color: #fff; 
  }

  completed {
    text-decoration: line-through;
    color: green;
  }

  body {
    background-color: pink; 
  }
  
  body.dark-mode {
    background-color: darkgray; 
  }

  .itemComplete{
    background-color: rgb(17, 240, 17);
    text-decoration: line-through;
}
