.dark-mode {
    background-color: #222; 
    color: #fff; 
  }

  .completed {
    text-decoration: line-through;
    color: green;
  }

  body {
    background-color: green; 
  }
  
  body.dark-mode {
    background-color: darkgray; 
  }